.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;

}

.footer-logo p{
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}

.footer-links{
    position: relative;
    display: flex;
    list-style: none;
    gap:50px;
    color: #252525;
    font-size: 20px;
}

.footer-links li {
    cursor: pointer;
    position: relative; /* Ensure the li is a positioned element */
  }
  
.footer-links li:hover .popover {
    display: block;
}
  
.popover {
    width: 300px; /* Adjust the width as needed */
    position: absolute;
    top: -10px;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px; /* Adjust the padding as needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1;
    color: #333; /* Adjust text color */
    font-size: 16px; /* Adjust font size */
    line-height: 1.4;
}

.footer-social-icons{
    display: flex;
    gap: 20px;
}

.footer-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}

.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width:100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}

.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}